[2021-06-14 02:02] 89z opened #1 "mobile youtube search?"
https://github.com/89z/mech/tree/master/research/2021-06-13

[2021-06-14 15:45] #1 closed

[2021-07-02 22:11] 89z opened #2 "Age"
https://www.youtube.com/watch?v=HtVdAasjOgU

[code]

[2021-07-06 00:26] #2 closed

[2021-07-07 14:41] 89z opened #3 "Diff"
[code]

- <https://wikipedia.org/wiki/Absolute_difference>
- https://golang.org/pkg/math/bits/#Sub64

[2021-07-07 17:21] 89z commented on #3
[code]

[2021-07-08 00:03] #3 closed

[2021-10-20 16:16] ole-tange opened #6 "LOGIN_REQUIRED This video may be inappropriate for some users."
https://github.com/ytdl-org/youtube-dl/issues/30019#issuecomment-927149735 refers to this program.

However, it fails:

[code]

[2021-10-20 16:20] 89z commented on #6
Try this instead:

[code]

Closing this. If error continues, let me know. Thanks!

[2021-10-20 16:35] 89z opened #7 "Build request"
If you want a new build, comment on this thread. Please try to build yourself if you can, its pretty simple.

[2021-10-20 17:36] 89z commented on #6
Looks like on Unix, the info is pulled from here:

<https://github.com/golang/go/blob/go1.17.2/src/mime/type_unix.go#L20-L33>

can you clarify what distribution you are on? I would like to avoid hard coding the extensions, but I might not have a choice. In the meantime I will try a few from here:

https://distrowatch.com

[2021-10-20 18:56] #6 closed

[2021-11-23 22:29] jeevatattva opened #9 "[Reddit] Add support for 1080p videos"
https://github.com/yt-dlp/yt-dlp/pull/1682

[2021-11-23 22:39] 89z commented on #9
https://redd.it/qsw48i

[2021-11-23 22:49] 89z commented on #9
https://github.com/ytdl-org/youtube-dl/issues/29565

[2021-11-23 22:56] jeevatattva commented on #9
[code]

`1080p` is not listed even where the resource URL has `DASH_1080.mp4`.

[2021-11-23 22:59] 89z commented on #9
This should be fixed now. Let me know if you have any other problems, thanks!

[2021-11-23 23:28] jeevatattva commented on #9
Thank you for the quick response, and also, instantly providing a fix. Querying `id` `qsw48i` does show `1080p` now, but for other links, the maximum resolution is limited to`720p`, when in fact I see `1080p` on my computer, e.g. `id` `r07ewc`.

[2021-11-23 23:49] 89z commented on #9
Visiting that page in browser, I only see option for 720

https://www.reddit.com/r/cyberpunkgame/comments/r07ewc

I am going to close this again. If you can help me to see how to get 1080p in browser, then I will open again

[2021-11-24 00:32] 89z commented on #9
I am going to reopen this (for now). I will check the Reddit APK to see if its doing anything different.

[2021-11-24 01:05] 89z commented on #9
OK sorry, but I checked the same post with APK as well, only saw 720. So unless you can give something more, going to keep this closed. Thanks!

[2021-11-24 01:05] #9 closed

[2021-12-30 04:46] #7 closed

[2022-01-01 16:09] bartlomiejb opened #10 "SIGSEGV on Android (Termux)"
When built on Android in Termux:
[code]

[2022-01-01 16:16] 89z commented on #10
Please repost with correct line breaks. I will reopen once thats done. Thank you!

[2022-01-01 16:23] 89z commented on #10
Never mind, I did it:

[code]

[2022-01-01 16:26] 89z commented on #10
Problem is here:

https://github.com/89z/format/blob/v1.16.8/format.go#L123

sorry about that, should be easy fix.

[2022-01-01 17:13] 89z commented on #10
This should be fixed now:

https://github.com/89z/mech/commit/895057a4a30a223f5039d3cc4a41d2dc84955fa2

[2022-01-01 17:13] #10 closed

[2022-01-02 05:49] bartlomiejb commented on #10
Yeah, it works now, even with age restricted video that I tried (with - e option).

Thanks for a quick reply and a fix. 👍🏻

[2022-01-14 08:54] Yush08 opened #11 "No audio in output"
Title says it all, there's no audio in the output video file.

[2022-01-20 21:33] soraphoenix opened #12 "Some Twitter spaces do not download"
After successfully downloading a space, the ones I tried after are rejected or not found.

Here's one example:
[code]

I'm able to pull info on them though:
[code]

[2022-01-20 22:14] 89z commented on #12
Hello. The issue is caused by the Title:

[code]

File name cannot have `/` character. I will try to fix this.

https://github.com/89z/mech/blob/e53af43e0e797a90a105191b71262ff221967e1b/cmd/twitter/space.go#L34

[2022-01-20 22:19] 89z commented on #12
This should be fixed now:

https://github.com/89z/mech/releases/tag/v1.45.3

[2022-01-20 22:19] #12 closed

[2022-01-21 02:49] soraphoenix commented on #12
Thanks, that was a quick turnaround. I had a feeling the title was causing issues.

[2022-01-22 13:32] NoNameUserDev opened #13 "Instagram on Ubuntu machine"
I was able to build and did download a media from Instagram on Windows machine, but on Ubuntu 20.04 focal I got errors like this:
[code]
I've logged in successfully with -u and -p args, though
Tried without -a, deleted the instagram.json file and logged in again, but no help so far
I don't know Golang, but can someone help me to find a workaround?

[2022-01-22 15:25] 89z commented on #13
1.45.3 is not the latest version:

https://github.com/89z/mech/releases/tag/v1.45.4

can you try it again from the last tag, or from master?

[2022-01-22 15:29] 89z commented on #13
At any rate, even using older version works for me:

[code]

I would suggest you run with verbose and put the output here. Just make sure to remove part of the auth, like this:

[code]

[2022-01-22 15:59] NoNameUserDev commented on #13
from v1.45.4
[code]
from master
[code]
Sorry for the late reply, and... sorry for this messy thing...

[2022-01-22 16:15] NoNameUserDev commented on #13
[code]

[2022-01-22 16:28] 89z commented on #13
For some reason, running that request on my computer returns the pictures here:

[code]

but on yours, they are here:

[code]

For a temporary fix, I can add a new type and a new method on the Login type. For a permanent fix, I can try to see if another API is available, that is more consistent. If I remember right, when I was creating this two API were available. I chose the one were using now be

[2022-01-22 16:37] NoNameUserDev commented on #13
Oh, I'm sorry... If it's not too much trouble for you

[2022-01-22 16:40] 89z commented on #13
I think doing a new type is a bad idea, as I dont really have a way to test it, beyond just looking at the JSON you gave me. I will check into the other API. I believe I have code for it still in the Git commit history.

[2022-01-22 16:44] NoNameUserDev commented on #13
It's okay, I'm using instagram just for tests
I'll send you my login and password to your mail

[2022-01-22 17:07] 89z commented on #13
Huh, using your login I get the same result as you, weird. I will think about what to do.

[2022-01-22 17:18] NoNameUserDev commented on #13
Thank you very much
I took your time :')

[2022-01-22 17:36] 89z commented on #13
Do you want me to fix it?

[2022-01-22 18:16] NoNameUserDev commented on #13
Well, when you have time, can you fix it?

[2022-01-22 18:22] 89z commented on #13
Hah, looks like in addition to the current API, two other API are available:

https://github.com/89z/mech/blob/e08c30dc6c38c2faca0cc9f201cc031724a6ab85/instagram/login.go#L53-L74
https://github.com/89z/mech/blob/e08c30dc6c38c2faca0cc9f201cc031724a6ab85/instagram/login.go#L105-L135

I will see if they are still valid.

[2022-01-22 18:58] 89z commented on #13
OK I think I have a fix. Save the below program to `instagram.go`, change the Authorization to your token, then try:

[code]

and paste the output here.

[code]

[2022-01-22 20:28] NoNameUserDev commented on #13
[code]

uh, actually, I thought that I could write a script in python myself rather than bothering you... but with my current skills I guess it'll take me, say, at least a month of searching for knowledge here and there, but that's actually how we learn the things
But in this time, if I'm not asking too much, I'd like your help :')

[2022-01-22 20:35] 89z commented on #13
OK I can confirm that this API seems to have same result for both accounts. I will try to implement a fix soon.

[2022-01-22 23:15] 89z commented on #13
FYI I noticed that the new API doesnt output comments. I found another GraphQL hash that I can use, but I think the better option is to use the Android API. I am looking into that now, but the Android client is highly protected, so it will take some more time.

[2022-01-23 03:28] 89z commented on #13
I figured it out. Thanks to this code:

https://github.com/Gordy96/giveaway/blob/master/client/web/client.go#L309-L315

I noticed that if you add `fetch_comment_count`, you can still get the media and comments in the same request. Plus, the GraphQL endpoint has a cleaner response than the Android endpoint. I will continue working on this.

[2022-01-23 19:12] nullbasis opened #14 "[audible] API"
Thanks for this project, it looks to be super useful.

Anyway, as per [this issue in youtube-dl](https://github.com/ytdl-org/youtube-dl/issues/28317), I'm opening this issue.

[2022-01-23 19:19] 89z commented on #14
Thanks for the post. I am very busy [1], but I will see if I can move Audible to the top of the list.

1. https://github.com/89z/mech/tree/master/research

[2022-01-23 19:55] 89z commented on #13
This should be fixed now. If you still have trouble, let me know. Thanks

[2022-01-23 22:01] 89z commented on #14
Can you please provide an example URL? It seems the one in the other issue is a paid item.

[2022-01-24 10:53] NoNameUserDev commented on #13
Now it's working! Thank you for your hard work on this repo @89z

[2022-01-24 22:20] 89z commented on #14
Closing this now. If you are able to respond, I can reopen, thanks

[2022-01-24 22:41] nullbasis commented on #14
Sorry, I wasn't able to get to it yesterday. This one appears to be free: https://www.audible.com/pd/Go-the-F-k-to-Sleep-Audiobook/B00551W570

[2022-01-24 23:01] 89z commented on #14
looks good, I will work on this. Final solution might work for paid items as well, but I am going to start with free items

[2022-01-25 01:14] 89z commented on #14
I think I am going to have to pass on this. The media files are not encrypted, and just need a simple GET request. However they are hidden behind an elaborate login process. An implementation of the iOS login [1] is available, but it even seems to require a captcha. I was able to successfully login like this:

[code]

Its possible the Android client doesnt need a Captcha, but regardless of the app

[2022-01-28 22:55] 89z commented on #7
https://bbc.co.uk/news/av/uk-politics-60159228

[2022-01-28 22:58] 89z opened #15 "Mobile deep linking"
Looks like for this to work, the link has to be a different domain. So using this issue as a scratch page

https://wikipedia.org/wiki/Mobile_deep_linking

[2022-01-28 22:58] 89z commented on #15
https://bbc.co.uk/news/av/uk-politics-60159228

[2022-02-01 17:46] 89z commented on #13
I need to look at this some more, as it seems that `/graphql/query/` API cannot get best quality images or video:

https://github.com/89z/mech/tree/61e5106b/research/instagram

[2022-02-01 18:42] 89z commented on #13
It seems now that using the original web API `__a=1`, you get the same result with both countries:

[code]

plus, `__a=1` gives you better quality, compared to the other two API. So I am going to switch back to the previous API.

[2022-02-02 03:42] 89z commented on #15
https://www.instagram.com/p/CLHoAQpCI2i/

[2022-02-02 18:28] 89z commented on #15
https://www.instagram.com/p/CZVEugIPkVn/

[2022-02-03 00:04] 89z commented on #13
This should be fixed now. I switched back to the `__a=1` API, also made some changes in order to get original image quality, as well as higher video quality via DASH.

[2022-02-03 00:04] #13 closed

[2022-02-03 21:11] 89z opened #16 "Instagram bullshit"
I cant seem to get anonymous requests working anymore. Do all endpoints now require authentication?

[2022-02-04 14:51] 89z commented on #16
Now I cant seem to even get anonymous requests working. Does this endpoint now require authentication? If so, I might need to bring back one of the other APIs to allow anonymous requests.

[2022-02-04 23:37] 89z commented on #16
[code]

[2022-02-04 23:46] 89z commented on #16
This fails too without Cookie:

[code]

[2022-02-05 00:20] 89z commented on #16
https://www.instagram.com/p/CLHoAQpCI2i/?__a=1

[2022-02-05 00:20] 89z commented on #16
https://www.instagram.com/graphql/query/?query_hash=7d4d42b121a214d23bd43206e5142c8c&variables={%22shortcode%22:%22CZVEugIPkVn%22}

[2022-02-05 01:29] 89z commented on #16
1 hour: FAIL

[2022-02-05 02:32] 89z commented on #16
https://www.instagram.com/p/CZVEugIPkVn/?__a=1

[2022-02-05 04:17] 89z commented on #16
FAIL

[2022-02-05 14:06] 89z commented on #16
FAIL

[2022-02-05 15:15] 89z commented on #16
FAIL 9AM

[2022-02-05 18:26] 89z commented on #16
FAIL 1226 PM

[2022-02-05 20:15] 89z commented on #16
FAIL 215 PM

[2022-02-05 21:56] 89z commented on #16
FAIL 356 PM

[2022-02-06 00:09] 89z commented on #16
FAIL 609 PM

[2022-02-06 01:13] 89z commented on #16
FAIL 713 PM

[2022-02-06 02:13] 89z commented on #16
FAIL 813 PM

[2022-02-06 02:49] 89z commented on #16
TLS fingerprinting?

[2022-02-06 03:45] 89z commented on #16
FAIL 945 PM

[2022-02-06 03:46] 89z commented on #16
Parse HTML?

[2022-02-06 04:07] 89z commented on #16
https://www.instagram.com/p/CZVEugIPkVn/?__a=1

[https://www.instagram.com/graphql/query/?query_hash=7d4d42b121a214d23bd43206e5142c8c&variables={%22shortcode%22:%22CZVEugIPkVn%22}](https://www.instagram.com/graphql/query/?query_hash=7d4d42b121a214d23bd43206e5142c8c&variables=%7B%22shortcode%22:%22CZVEugIPkVn%22%7D)

https://www.instagram.com/p/CZVEugIPkVn/

[2022-02-06 04:52] 89z commented on #16
FAIL 1052 PM

[2022-02-06 13:56] 89z commented on #16
FAIL 756 AM

[2022-02-06 14:58] 89z commented on #16
FAIL 858 AM

[2022-02-06 16:42] 89z commented on #16
FAIL 1042 AM

[2022-02-06 17:45] 89z commented on #16
FAIL 1145 AM

[2022-02-06 19:24] 89z commented on #16
FAIL 124 PM

[2022-02-06 19:25] 89z commented on #16
Closing this now. From what I can tell, its no longer possible to get anonymous Instagram data, even public HTML pages. If I find some way in the future, I can reopen this.

[2022-02-06 19:25] #16 closed

[2022-02-06 19:27] 89z commented on #13
FYI I have removed the `-a` option, as it seems all requests now require authentication. If I find some way in the future for anonymous requests, I will revert the change.

[2022-02-09 17:50] 89z commented on #15
https://vimeo.com/477957994/2282452868

[2022-02-10 05:00] 89z commented on #15
https://vimeo.com/477957994?embedded=false&source=vimeo_logo&owner=21256249

[2022-02-10 05:04] 89z commented on #15
https://vimeo.com/66531465

[2022-02-10 20:03] 89z commented on #15
https://vimeo.com/477957994?unlisted_hash=2282452868

[2022-02-10 22:37] 89z commented on #15
https://vimeo.com/477957994?unlisted_hash=2282452868

[2022-02-12 01:46] 89z commented on #15
https://lyssafreyguy.tumblr.com/post/187741823636

[2022-02-12 16:32] 89z commented on #15
https://www.imdb.com/gallery/rg2774637312

[2022-02-13 18:58] 89z commented on #15
https://bbcamerica.com/shows/doctor-who/episodes/season-13-eve-of-the-daleks--1051589

[2022-02-15 14:13] 89z commented on #15
https://tidal.com/browse/video/205738663

[2022-02-16 01:45] 89z commented on #15
https://play.google.com/store/apps/developer?id=ITV+PLC&gl=gb

[2022-02-16 02:10] 89z commented on #15
https://play.google.com/store/search?q=itv&c=apps&gl=gb

[2022-02-16 16:53] 89z commented on #15
https://play.google.com/store/apps/category/VIDEO_PLAYERS

[2022-02-16 21:12] 89z commented on #15
https://play.google.com/store/apps/category/GAME?gl=kr

[2022-02-16 21:40] 89z commented on #15
https://www.youtube.com/watch?v=SkRSXFQerZs

[2022-02-17 04:06] 89z commented on #14
I am going to take another crack at this. I cant promise anything, but we will see.

[2022-02-17 04:16] 89z commented on #15
https://www.audible.com/pd/Go-the-F-k-to-Sleep-Audiobook/B00551W570

[2022-02-17 06:30] 89z commented on #14
I found a way to bypass the CAPTCHA:

[code]

Its still going to take a lot more work, but this is promising...

[2022-02-17 21:08] 8lendzior opened #17 "download couple of songs from soundcloud"
I'm sorry for stupid question, but how am I supposed to use it? I can't find any information about it, I'm a newbie.

[2022-02-17 21:09] 89z commented on #17
please explain what you wish to do

[2022-02-17 21:17] 8lendzior commented on #17
Just want to use a tool, just want to download the song.

[2022-02-17 21:26] 89z commented on #17
OK I used to have a tool for this, let me finish lunch and I will find it in the history

[2022-02-17 21:44] 89z commented on #17
Can you please provide example URL? Also if youre on Windows, I can make a build for you - otherwise you will need to build yourself

[2022-02-17 21:45] 8lendzior commented on #17
URL - https://soundcloud.com/kino-scmusic/mqymd53jtwag?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing
I use linux.

[2022-02-17 21:47] 89z commented on #17
Are you able to build yourself? I have instruction here:

https://github.com/89z/mech#how-to-install

[2022-02-17 21:48] 8lendzior commented on #17
I mean I don't know if I understand this correctly but I have it installed. I installed it by using yay (the aur helper).

[2022-02-17 21:49] 89z commented on #17
So is it working? Can you download SoundCloud?

[2022-02-17 21:50] 8lendzior commented on #17
I mean the problem is that I don't know what command should I use.

[2022-02-17 21:53] 89z commented on #17
To get help, just run `soundcloud` or `soundcloud -h`:

[code]

Based on that, you can download like this:

[code]

[2022-02-17 21:55] 8lendzior commented on #17
That's exactly what I was looking for! Thank you very much!

[2022-02-17 21:57] 89z commented on #17
I added a small instruction to the command folder:

https://github.com/89z/mech/tree/master/cmd/soundcloud

[2022-02-17 22:00] 8lendzior commented on #17
One more small question. Is it possible to download all the song of the artist with a single command?

[2022-02-17 22:01] 89z commented on #17
please provide example URL

[2022-02-17 22:03] 89z commented on #17
Its not possible right now, but I will see if I can implement it

[2022-02-17 22:04] 8lendzior commented on #17
Not a problem, I was just curious. Thank you very much once again!

[2022-02-23 02:30] 89z commented on #15
https://soundcloud.com/kino-scmusic/mqymd53jtwag

[2022-02-23 20:22] 89z commented on #15
https://soundcloud.com/kino-scmusic

[2022-02-24 02:02] 89z commented on #12
https://github.com/ytdl-org/youtube-dl/issues/29145

[2022-02-24 02:24] 89z commented on #17
Program should support both of these now:

- https://soundcloud.com/kino-scmusic/mqymd53jtwag
- https://soundcloud.com/kino-scmusic

Note that for users, current implementation is limited to 999 tracks. I might change that in the future if need arises.

[2022-02-24 02:24] #17 closed

[2022-02-25 02:25] 89z commented on #15
https://www.mtv.com/video-clips/s5iqyc/mtv-cribs-dj-khaled

[2022-02-25 03:45] 89z commented on #15
https://www.youtube.com/watch?v=4l7Is6vOAOA

[2022-02-25 20:33] sw-yx opened #18 "Twitter space has invalid value for flag -s: parse error"
hello! i came here from [the youtube-dl thread](https://github.com/ytdl-org/youtube-dl/issues/29145#issuecomment-1050426664). i am trying to download this twitter space: https://twitter.com/i/spaces/1RDGlgoYkDkKL

i'm on a mac, so i cloned this repo and ran `go build` inside of `/cmd/twitter` as per the instructions and successfully got a binary so i assume this is the correct way to build it for

[2022-02-25 20:47] 89z commented on #18
You command is correct:

[code]

but as previously mentioned, I recently removed Twitter Spaces, as we were having trouble with examples, as they kept expiring. I have since implemented API for Twitter, so I can find fresh examples now. Until I restore Twitter Spaces, youll need to use the last version before spaces was removed:

https://github.com/89z/mech/tree/v1.46.6

[2022-02-27 18:23] 89z commented on #18
Closing this for lack of response.

[2022-02-28 17:32] sw-yx commented on #18
ah appreciate it!

[2022-02-28 17:35] sw-yx commented on #18
just tried it and it seems to work!

[code]

[2022-02-28 20:43] 89z commented on #18
I will reopen this for now, as it seems it might be worth bringing this back to the current version

[2022-02-28 20:43] 89z commented on #18
https://github.com/sw-yx/swyxdotio/issues/412

[2022-03-01 17:26] 89z commented on #15
https://play.google.com/store/apps/details?id=air.ITVMobilePlayer

[2022-03-03 22:19] 89z commented on #15
https://www.mtv.com/episodes/92wkue/aeon-flux-isthmus-crypticus-season-1-ep-2

[2022-03-04 03:24] 89z commented on #18
OK this should be back now, as of version 1.49.0. The syntax is a little different:

[code]

Any problems let me know.

https://github.com/89z/mech/tree/v1.49.0

[2022-03-04 03:24] #18 closed

[2022-03-04 15:22] 89z commented on #15
https://paramountplus.com/shows/star-trek-prodigy/video/3htV4fvVt4Z8gDZHqlzPOGLSMgcGc_vy/star-trek-prodigy-dreamcatcher

[2022-03-08 02:24] 89z commented on #15
https://www.mtv.com/episodes/scyb0g/aeon-flux-utopia-or-deuteranopia-season-1-ep-1

[2022-03-08 03:32] 89z commented on #15
https://www.youtube.com/shorts/9Vsdft81Q6w

[2022-03-08 18:55] 89z commented on #14
Sorry, I am going to close this again for now. I do think I am able to complete it, but its going to be tough, and I am prioritizing other stuff right now. So unless someone wants to make a donation in service of this issue, I will pick it up at a later time.

[2022-03-08 18:57] 89z opened #19 "You need to provide credentials"
If you are asking for help with an extractor, and that extractor requires credentials, it is your responsibility to provide those credentials.

Even if the site has free registration, its still on you to provide a working username and password. You are coming to people for help, you should make it as easy as possible for them to help you. This might make some people uncomfortable, especially if th

[2022-03-08 18:57] 89z commented on #19
https://github.com/ytdl-org/youtube-dl/issues/30726

[2022-03-10 13:09] 89z commented on #15
- <https://paramountplus.com/shows/star-trek-discovery/video/trdn_QshF1DlbsdedG6xdsnd5WwF6032/star-trek-discovery-si-vis-pacem-para-bellum>

[2022-03-10 13:46] 89z commented on #15
https://southpark.cc.com/episodes/vrwkb7/south-park-pajama-day-season-25-ep-1

[2022-03-12 02:15] 89z commented on #15
https://bitmovin.com/demos/drm

[2022-03-12 15:03] Sonotoki-da opened #20 "Instagram: an audio stream is separated from video"
I couldn't figure out how one audio file is connected to the corresponding video file. Well, it's okay when there's only one video in a post, I can just merge them with ffmpeg without a doubt.

[2022-03-12 15:13] 89z commented on #20
please provide example URL

[2022-03-12 15:16] Sonotoki-da commented on #20
Um, please wait, I'll just make one :') I just thought the possibility of that kind of posts to be exist

[2022-03-12 15:18] 89z commented on #20
Sorry, I dont think this is a good use of my time. I like to deal with real problems, not invented ones.

If you can find a public post, thats not your own, that demonstrates the problem, I will reopen and fix the issue. Thanks.

[2022-03-12 15:18] #20 closed

[2022-03-13 17:39] 89z commented on #15
https://money.cnn.com/mostly-human/silicon-valleys-secret

[2022-03-13 21:23] 89z commented on #15
https://money.cnn.com/mostly-human/

[2022-03-13 21:28] 89z commented on #15
https://www.cnn.com/2022/03/12/business/walgreens-freezer-screens/index.html

[2022-03-14 00:38] 89z commented on #15
https://www.cnn.com/travel/article/parrot-steals-gopro-scli-intl

[2022-03-14 01:02] 89z commented on #15
https://money.cnn.com/mostly-human/

[2022-03-14 19:44] #19 closed

[2022-03-14 19:45] 89z opened #21 "[vimeo] Password-protected download fails"
https://player.vimeo.com/video/412573977?h=f7f2d6fcb7

password: butter

[2022-03-17 22:15] 89z opened #22 "Paramount+ error"
https://www.paramountplus.com/shows/star-trek-prodigy/video/7EZmrPOZXaX4kdmgjZhysGqHIDL1Nqs_/star-trek-prodigy-lost-found-part-1-2/

[2022-03-17 22:38] 89z commented on #22
Fixed:

[code]

[2022-03-17 22:38] #22 closed

[2022-03-17 22:39] wxolp commented on #22
https://github.com/yt-dlp/yt-dlp/issues/1466

[2022-03-18 13:47] 89z opened #23 "[Youtube] Very slow download"
https://www.youtube.com/watch?v=qqiC88f9ogU

[2022-03-25 17:23] 89z commented on #23
Fixed:

[code]

[2022-03-25 17:23] #23 closed

[2022-03-25 17:23] 89z commented on #23
https://github.com/ytdl-org/youtube-dl/issues/30715

[2022-03-25 17:53] 89z opened #24 "[YouTube] age restriction"
https://www.youtube.com/watch?v=irauhITDrsE

[2022-03-25 17:55] 89z commented on #24
Fixed:

[code]

[2022-03-25 17:55] #24 closed

[2022-03-25 17:56] 89z commented on #24
https://github.com/ytdl-org/youtube-dl/issues/29578

[2022-03-25 20:35] 89z opened #25 "[youtube] age restriction bypass broke"
https://youtube.com/watch?v=CUO8secmc0g

[2022-03-25 20:36] 89z commented on #25
Fixed:

[code]

[2022-03-25 20:36] #25 closed

[2022-03-25 20:37] wxolp commented on #25
https://github.com/yt-dlp/yt-dlp/issues/3182

[2022-03-25 21:28] 89z opened #26 "[paramountplus] Could not find XML element title"
https://www.paramountplus.com/shows/survivor/video/Rcmd9CGvysrl13uSff93up_SnD5RzVfH/survivor-my-million-dollar-mistake/

[2022-03-25 21:28] 89z commented on #26
Fixed:

[code]

[2022-03-25 21:28] #26 closed

[2022-03-25 21:29] 89z commented on #26
https://github.com/ytdl-org/youtube-dl/issues/30066

[2022-03-25 21:51] 89z opened #27 "[youtube] How do you get cookies to work?"
https://www.youtube.com/watch?v=2R9yGq90nag

[2022-03-25 21:52] 89z commented on #27
Fixed:

[code]

[2022-03-25 21:52] #27 closed

[2022-03-25 21:52] 89z commented on #27
https://github.com/ytdl-org/youtube-dl/issues/30665

[2022-03-25 22:14] 89z opened #28 "[youtube] Unable to download stories anymore"
https://youtube.com/shorts/9Vsdft81Q6w?feature=share

[2022-03-25 22:16] 89z commented on #28
Fixed ID:

[code]

and URL:

[code]

[2022-03-25 22:16] #28 closed

[2022-03-25 22:16] 89z commented on #28
https://github.com/ytdl-org/youtube-dl/issues/30725

[2022-03-25 22:49] 89z opened #29 "[nbc] Unable to extract post url with some programming"
https://www.nbc.com/saturday-night-live/video/october-2-owen-wilson/9000199358

https://www.nbc.com/the-titan-games/video/west-region-2-the-true-meaning-of-a-titan/4186489

[2022-03-25 22:50] 89z commented on #29
Fixed:

[code]

and:

[code]

[2022-03-25 22:50] #29 closed

[2022-03-25 22:51] 89z commented on #29
https://github.com/ytdl-org/youtube-dl/issues/29191

[2022-03-26 00:57] 89z opened #30 "[MTV] broken"
https://www.mtv.com/episodes/scyb0g/aeon-flux-utopia-or-deuteranopia-season-1-ep-1

https://www.mtv.com/video-clips/s5iqyc/mtv-cribs-dj-khaled

[2022-03-26 01:38] 89z commented on #30
Fixed:

[code]

and:

[code]

[2022-03-26 01:38] #30 closed

[2022-03-26 01:38] 89z commented on #30
https://github.com/ytdl-org/youtube-dl/issues/30678

[2022-03-26 02:04] 89z opened #31 "[paramountplus] Could not find XML element title on some"
https://www.paramountplus.com/shows/star-trek-prodigy/video/3htV4fvVt4Z8gDZHqlzPOGLSMgcGc_vy/star-trek-prodigy-dreamcatcher/

[2022-03-26 02:04] 89z commented on #31
Fixed:

[code]

[2022-03-26 02:04] #31 closed

[2022-03-26 02:05] 89z commented on #31
https://github.com/ytdl-org/youtube-dl/issues/30247

[2022-03-26 02:28] 89z opened #32 "[paramountplus] Request for Movie URLs"
https://www.paramountplus.com/movies/building-star-trek/wQH9yE_y_Dt4ekDYm3yelhhY2KXvOra_/

[2022-03-26 02:29] 89z commented on #32
Fixed:

[code]

[2022-03-26 02:29] #32 closed

[2022-03-26 02:29] 89z commented on #32
https://github.com/ytdl-org/youtube-dl/issues/17870

[2022-03-26 02:49] 89z commented on #23
https://github.com/ytdl-org/youtube-dl/issues/30752

[2022-03-26 02:50] 89z commented on #28
https://github.com/ytdl-org/youtube-dl/issues/30701

[2022-03-26 02:50] 89z commented on #28
https://github.com/ytdl-org/youtube-dl/issues/30760

[2022-03-26 03:16] 89z opened #33 "[NBC] episode failed to download m3u8 information"
https://www.nbc.com/brooklyn-nine-nine/video/game-of-boyles/9000167059

[2022-03-26 03:16] 89z commented on #33
Fixed:

[code]

[2022-03-26 03:16] #33 closed

[2022-03-26 03:17] wxolp commented on #33
https://github.com/yt-dlp/yt-dlp/issues/1032

[2022-03-26 14:25] 89z commented on #21
Fixed:

[code]

[2022-03-26 14:25] #21 closed

[2022-03-26 14:26] wxolp commented on #21
https://github.com/yt-dlp/yt-dlp/issues/3037

[2022-03-26 15:09] 89z opened #34 "something"

[2022-03-26 17:05] 89z opened #35 "test"

[2022-03-26 17:06] wxolp commented on #35
asdfa

[2022-03-26 17:08] 89z commented on #30
@mr100percent

[2022-03-26 17:10] 89z commented on #22
@Sipherdrakon

[2022-03-26 17:11] 89z commented on #24
@1RandomDev

[2022-03-26 17:13] 89z commented on #26
@2011

[2022-03-26 17:13] 89z commented on #27
@Rekrullurker

[2022-03-26 17:14] 89z commented on #29
@codethought

[2022-03-26 17:15] 89z commented on #31
@jefft666

[2022-03-26 17:15] 89z commented on #32
@digitalhybrid

[2022-03-26 17:16] 89z commented on #23
@1vanK

[2022-03-26 17:16] 89z commented on #28
@gbr000

[2022-03-26 17:17] 89z commented on #33
@brianfmorris

[2022-03-26 17:17] 89z commented on #21
@fsiler

[2022-03-26 20:04] 89z commented on #15
https://www.pbs.org/wgbh/nova/video/nova-universe-revealed-milky-way/

[2022-03-26 21:29] 89z commented on #15
https://www.pbs.org/wnet/nature/about-american-horses/26867/

[2022-03-27 02:39] 89z commented on #14
Reopening this again. Not sure if I will be able to work on it right away, but I do have some free time now, so maybe.

[2022-03-27 03:29] 89z opened #36 "deep link"
https://www.pbs.org/nova/video/nova-universe-revealed-milky-way/

https://www.pbs.org/wgbh/nova/video/nova-universe-revealed-milky-way/

[2022-03-27 03:30] 89z commented on #36
https://www.pbs.org/video/american-horses-i5v309/

[2022-03-27 03:44] 89z commented on #36
https://www.pbs.org/show/nova/episodes/season/43/

[2022-03-27 07:57] optionsx commented on #23
ytdl-core is very fast at downloading it, and it's open-source!

[2022-03-27 18:16] 89z commented on #23
https://github.com/kkdai/youtube/issues/232

[2022-03-27 19:43] 89z opened #37 "[youtube] can't get video release_date"
https://www.youtube.com/watch?v=sjNRpkQd68s

`github.com/ytdl-org/youtube-dl/issues/30782`

[2022-03-30 03:02] 89z opened #38 "PBS Nova"
https://www.pbs.org/wgbh/nova/video/nova-universe-revealed-milky-way/

`github.com/yt-dlp/yt-dlp/issues/1643`

[2022-03-30 03:03] 89z commented on #38
Fixed:

[code]

[2022-03-30 03:03] #38 closed

[2022-03-30 03:04] 89z commented on #38
@Mennaruuk

[2022-03-30 03:04] wxolp commented on #38
https://github.com/yt-dlp/yt-dlp/issues/1643

[2022-03-30 03:08] 89z opened #39 "PBS /video/"
https://www.pbs.org/video/the-future-of-restaurants-rbs0v8/

`github.com/yt-dlp/yt-dlp/issues/2606`

[2022-03-30 03:09] 89z commented on #39
Fixed:

[code]

[2022-03-30 03:09] #39 closed

[2022-03-30 03:10] 89z commented on #39
@sydlexius

[2022-03-30 03:10] wxolp commented on #39
https://github.com/yt-dlp/yt-dlp/issues/2606

[2022-03-30 03:12] 89z opened #40 "PBS Nature"
https://www.pbs.org/wnet/nature/about-american-horses/26867/

`github.com/yt-dlp/yt-dlp/issues/3092`

[2022-03-30 03:19] 89z commented on #40
Fixed:

[code]

[2022-03-30 03:19] #40 closed

[2022-03-30 03:20] 89z commented on #40
@AngelBlue01

[2022-03-30 03:20] wxolp commented on #40
https://github.com/yt-dlp/yt-dlp/issues/3092

[2022-03-30 03:52] Mennaruuk commented on #38
@89z thanks for the heads up and fix, I’m compiling today, can’t wait!!

[2022-03-30 04:01] 89z commented on #38
I just got this working today, so I made a few tweaks since the last commit:

- Lowered the default target bandwidth. Of course you can set it to whatever you want
- Print widget information, including slug title and duration. See sample above
- Only download separate audio if exists (some items have video and audio combined)

I should be able to push a commit tomorrow with these changes.

[2022-03-30 05:19] Mennaruuk commented on #38
All right chief, I downloaded the video and audio successfully. Works great!

[2022-03-30 10:59] 89z commented on #38
Should work with other shows too, here is list

https://github.com/89z/mech/tree/master/pbs

[2022-03-30 11:31] 89z commented on #38
OK I pushed a new commit with those changes. Also, I am thinking about adding sorting for height, but I am not sure yet.

[2022-03-30 23:12] 89z commented on #14
I apologize for the back and forth, but I think I am going to close this for good. I would quite like to punish Amazon by implementing this, but on the other hand, I don't really have a use for the site myself. If someone is willing to make a donation, I would be willing to work on this.

[2022-03-30 23:12] #14 closed

[2022-04-02 04:08] 89z opened #41 "[fixed] [abc] Extractor error"
https://www.abc.com/shows/the-rookie/episode-guide/season-04/13-fight-or-flight

`github.com/yt-dlp/yt-dlp/issues/2764`

[2022-04-02 04:09] 89z commented on #41
Fixed:

[code]

[2022-04-02 04:09] wxolp commented on #41
https://github.com/yt-dlp/yt-dlp/issues/2764

[2022-04-02 04:10] 89z commented on #41
@taco82

[2022-04-03 14:56] 7k50 opened #42 "[Bandcamp] Specify format to download (mp3, etc)?"
Is there a way to specify which format to download files in?

When trying the Bandcamp module, it seems like the format I get is .m2a files. Would love to be able to specify .mp3 for example.

I could not find anything about this in the documentation – so if it is not possible, It'd be a good feature request.

[2022-04-03 14:59] 89z commented on #42
please provide example URL

[2022-04-03 15:01] 7k50 commented on #42
`./bandcamp -a https://velenoviola.bandcamp.com/track/ospedale-psichiatrico-infantile-di-ferrara-where-the-story-begins`

Creates: `Veleno Viola-Ospedale Psichiatrico Infantile Di Ferrara (Where The Story Begins).m2a`

[2022-04-03 15:09] 89z commented on #42
I think I can fix this. Looks like these should all be options:

[code]

I can set `.mp3` as the default, and add a flag to override.

[2022-04-03 15:48] 89z commented on #42
OK this should be fixed now. Also I fixed an issue with albums, where every track was getting the same name. Any problems let me know

[2022-04-03 15:48] #42 closed

[2022-04-03 16:14] 89z commented on #28
https://github.com/ytdl-org/youtube-dl/issues/30813

[2022-04-06 01:05] 89z opened #43 "[CBS] issue"
https://www.cbs.com/shows/video/tXG2JqDwvC48qXgNikStaBAxMOd0wdl6/

[2022-04-06 01:06] 89z commented on #43
Fixed:

[code]

[2022-04-06 01:06] #43 closed

[2022-04-06 01:06] 89z commented on #43
@TPIRFan

[2022-04-06 01:37] TPIRFan commented on #43
I must be missing something obvious here -- I'm still getting the exact same error.  Is there something else I need to be doing or a different set of commands I need to be typing?

[2022-04-06 01:56] 89z commented on #43
Sorry for the confusion. If youre interested, I have an alternate tool here:

https://github.com/89z/mech/releases/tag/v1.51.1

[2022-04-06 03:12] TPIRFan commented on #43
I appreciate the offer, but I'd like to figure out what it is I'm doing wrong here.  I use YouTube-dl for this one specific thing that usually _just works,_ and I can see that you got it to run properly, so there's probably something I'm not doing that would seem obvious to anyone else.  Is there something other than YT-dl itself that I need to update?  Is there possibly a file I need that I don't

[2022-04-06 03:20] 89z commented on #43
Sorry I cant help you with that. You can you my tool if you like, or you can wait for a response on the YouTube-DL issue. Good luck.

[2022-04-06 03:35] TPIRFan commented on #43
Actually, I take it back -- as always, it's something simple.  The new URLs _do_ continue to have a long version -- I was just creating it incorrectly.  Totally my fault.

Regardless, thanks for the assistance.

[2022-04-06 04:45] Sipherdrakon commented on #43
@TPIRFan
For now until youtube-dl is updated you can pull the long form versions of the URLs, I believe, from the /episodes list. So just take your show and add `/episodes` to the end and it should give you a list of seasons and all episodes available within that season.
ie, `https://www.paramountplus.com/shows/nick-cannon-presents-wild-n-out/episodes/`

[2022-04-06 14:02] 89z commented on #43
@Simon818

[code]

and:

[code]

[2022-04-09 10:42] 454478978 opened #44 "[twitter] Try to download mp3"
Hi, I'm trying to download the recorded audio from twitter space, but met some problems
`C:\Users\45447\mech\twitter>go run . -c 1lPKqmwmOWbKb
package github.com/89z/mech/twitter is not a main package`
I'm stuck in here, in order to get the downloaded file, what should I do next?

[2022-04-09 13:15] 89z commented on #44
I removed Twitter Space because it was annoying to support. The last version is here:

https://github.com/89z/mech/tree/v1.50.2

If you are willing to make a donation, I can restore it to the current version. Otherwise you will need to use the old version.

[2022-04-09 16:07] 89z opened #45 "deep link"
https://twitter.com/search?q=filter:spaces

[2022-04-09 23:34] Clashkid155 commented on #23
Hey, you mentioned you fixed this on `youtube` plugin. I can't seem to find how or the commit.

[2022-04-09 23:47] 89z commented on #23
Current workaround is using the ANDROID client:

https://github.com/89z/mech/blob/v1.51.3/youtube/client.go#L16-L20

however I also discovered that even with other clients, you can run 16 or more connections for better speed. I am still working on that solution.

[2022-04-10 03:16] 89z commented on #44
I fixed the Twitter search, so I might be able to restore this

[2022-04-10 07:57] Clashkid155 commented on #23
So for now i can just change the client id on the `YouTube` plugin to what ever is here? I would've used your youtube library but i need go1.18 which is not available to me now

[2022-04-10 12:20] 89z commented on #23
If you are asking about YouTube-DL, sorry I cant help with that.

Can you explain why you cant use Go 1.18? I am willing to downgrade the module to Go 1.17, but I need a good reason, as it was a helpful update.

The throttle speed is 50 kB/s, so even with 16 connections, that only 800 kB/s. Ideally I would like to use even more, but I have to do more testing.

[2022-04-10 13:27] 89z commented on #44
This should be fixed now:

https://github.com/89z/mech/tree/v1.51.4

[2022-04-10 13:27] #44 closed

[2022-04-10 16:24] Clashkid155 commented on #23
Nope. I'm talking about [kkdai/youtube](https://github.com/kkdai/youtube)

Well, it's not really in my distribution(Linux) repo. There's no need to downgrade the package as I'll, hopefully get it soon.

Oh. I get it now.

[2022-04-10 17:20] 89z commented on #23
Looks like its here:

https://github.com/kkdai/youtube/blob/35992589/client.go#L126-L131

what distro is it? I know that Alpine has it already.

[2022-04-10 19:38] Clashkid155 commented on #23
Thanks for this!!

Manjaro. Since they hold back update for some time, i haven't gotten the 1.18 update but hoping it arrives this week. I could get the update from the aur but i don't want to do that.

[2022-04-10 19:44] 89z commented on #23
I just remembered, you can get Linux version here:

https://go.dev/dl

its already built, you just have to extract it. Are you avoiding that for some reason?

[2022-04-11 00:09] Clashkid155 commented on #23
Ya. I'm waiting for Manjaro to drop it plus it's only your library that needs it so i can wait.
Thanks for the information.

[2022-04-12 19:25] 89z opened #47 "[bandcamp] breaks with Japanese characters"
https://risatakeda.bandcamp.com/album/the-sorcerers-castle

`github.com/Otiel/BandcampDownloader/issues/213`

[2022-04-12 19:25] 89z commented on #47
Fixed:

[code]

[2022-04-12 19:25] #47 closed

[2022-04-12 19:26] 89z commented on #47
https://github.com/Otiel/BandcampDownloader/issues/213

[2022-04-12 19:26] 89z commented on #47
@dertuxmalwieder

[2022-04-12 19:28] dertuxmalwieder commented on #47
Good to know that there is one more alternative application. Arguably, this does not fix the problem in the original project.

[2022-04-12 19:30] 89z commented on #47
If you want to use the other project, you are welcome to. However it seems other project is currently broken. If you have some reason you don't want to use my tool, I am open to feedback.

[2022-04-12 19:34] dertuxmalwieder commented on #47
I used `bandcamp-dl` before, but I hated having to reinstall it after every Python upgrade. The *other tool* has two big advantages:

1. I can download multiple albums by just clicking one button, including whole discographies,
2. it has an output template format so I can download albums into `/RandomFolder/Artist/Year/Album`.

[2022-04-12 20:06] 89z commented on #47
My tool is not `bandcamp-dl`, is just `bandcamp`, and it doesnt use Python.

Mine can do that as well.

[2022-04-12 20:12] dertuxmalwieder commented on #47
I know. :-) I tried to explain why *the other tool* ticks some boxes that weren't ticked by any other tool I had tried before. Yours does not seem to be *much* different.

Anyway:

It does not have a button. But how can I download multiple albums with just one command?
Templates aren't supported either, as it seems.

[2022-04-12 20:15] 89z commented on #47
It seems you are a beggar. Good luck to you.

[2022-04-14 02:19] 89z opened #48 "[TikTok] hangs after "Requesting Header""
https://vm.tiktok.com/ZMLesneqK/

`github.com/ytdl-org/youtube-dl/issues/30538`

[2022-04-14 03:32] 89z commented on #48
Fixed:

[code]

[2022-04-14 03:32] #48 closed

[2022-04-14 03:32] 89z commented on #48
https://github.com/ytdl-org/youtube-dl/issues/30538

[2022-04-14 03:32] 89z commented on #48
@fuzzy76

[2022-04-14 13:25] 89z opened #49 "[Twitter] Spaces"
https://twitter.com/search?q=filter:spaces

`github.com/yt-dlp/yt-dlp/issues/1249`

[2022-04-14 17:36] hacktar opened #50 "Twitter Space error downloading ended"
Download not starting for ended spaces

[code]

[2022-04-14 17:41] 89z commented on #50
this is actively being worked on. the reason you get that error, is because that Space is not available to download:

https://twitter.com/i/spaces/1rmxPgOlzVMJN

this one might be better result:

https://twitter.com/i/spaces/1RDGlgmgwwVKL

[2022-04-14 17:59] 89z commented on #50
I pushed a commit to give somewhat better message:

[code]

and available Spaces of course work:

[code]

[2022-04-14 17:59] #50 closed

[2022-04-14 18:18] 89z commented on #49
Fixed:

[code]

[2022-04-14 18:18] #49 closed

[2022-04-14 18:19] wxolp commented on #49
https://github.com/yt-dlp/yt-dlp/issues/1249

[2022-04-14 18:20] 89z commented on #49
@mortyobnoxious

[2022-04-14 19:49] 89z commented on #45
https://facebook.com/FromTheBasementPage/videos/309868367063220

[2022-04-14 19:51] 89z commented on #45
https://m.facebook.com/FromTheBasementPage/videos/309868367063220

[2022-04-14 20:00] hacktar commented on #50
Thanks I got it!
I thought it was possible to download unregistered files as well.

[2022-04-14 20:05] hacktar opened #51 "Stream Live Spaces"
I saw that it is possible to download tracks of 10 seconds from a live space; it would be interesting to be able to do the stream in real time... just an idea, pardon

[2022-04-14 20:07] 89z commented on #50
If its not available via the website, then its fair to assume my tool cant get it either.

[2022-04-14 20:07] 89z commented on #51
please provide example URL

[2022-04-14 20:09] 89z commented on #50
also, please star this repo if its helpful

[2022-04-14 20:11] hacktar commented on #51
you can test it with any spaceid during it is live (i.e 1OdKrBAbwYwKX now)

[2022-04-14 20:15] 89z commented on #51
this is already supported
This is already supported:

[code]

If you have some problem let me know. Otherwise seems nothing to do.

[2022-04-14 20:15] #51 closed

[2022-04-14 20:17] 89z commented on #51
Also, please include the name of the site with any future issues. I support multiple sites.

[2022-04-15 12:44] 89z opened #52 "[Youtube] Decode n-parameter failed"
https://www.youtube.com/watch?v=f3vYFg1tM-0

`github.com/ytdl-org/youtube-dl/issues/30856`

[2022-04-15 12:45] 89z commented on #52
Fixed:

[code]

[2022-04-15 12:45] #52 closed

[2022-04-15 12:46] 89z commented on #52
https://github.com/ytdl-org/youtube-dl/issues/30856

[2022-04-15 12:48] 89z commented on #52
@abin2017

[2022-04-15 16:04] 89z opened #53 "[youtube] error unable to extract n-function name"
https://www.youtube.com/watch?v=UJLOiE8hb24

`github.com/kkdai/youtube/issues/240`

[2022-04-15 16:15] 89z commented on #53
Fixed:

[code]

Result:

[code]

[2022-04-15 16:15] #53 closed

[2022-04-15 16:16] 89z commented on #53
https://github.com/kkdai/youtube/issues/240

[2022-04-15 16:16] 89z commented on #53
@paij0se

[2022-04-16 19:51] Clashkid155 opened #55 "[youtube] Error while using downloading"
Command: `youtube -a https://youtu.be/mmGT3sk4ztM`
Even `youtube -b https://youtu.be/mmGT3sk4ztM` errors out

[code]

[2022-04-16 19:54] 89z commented on #55
works fine here:

[code]

can you confirm what version you are using?

[2022-04-17 16:00] Clashkid155 commented on #55
How do i get the version? Sorry for wasting time.

[2022-04-17 16:36] 89z commented on #55
can you confirm what version you are using?

[2022-04-17 17:24] #55 closed

[2022-04-19 17:45] 89z opened #56 "[tiktok] can't download the video, it shows it's forbidden"
https://www.tiktok.com/@hankgreen1/video/7071004694751071494

https://www.tiktok.com/@hankgreen1/video/7075881489216392453

`github.com/TufayelLUS/TikTok-Video-Downloader-PHP/issues/40`

[2022-04-19 17:47] 89z commented on #56
Fixed:

[code]

[2022-04-19 17:47] #56 closed

[2022-04-19 17:47] 89z commented on #56
https://github.com/TufayelLUS/TikTok-Video-Downloader-PHP/issues/40

[2022-04-19 17:48] 89z commented on #56
@hassanfaizm  @pedrosaartes

[2022-04-20 08:02] jiangjiangflies opened #58 "abc videos with tv provider authentication"
Downing videos without authentication (some older programs)  is OK. But it is not working videos which need a TV provider. How to pass  the provider authentication? Or Can I pass browser cookies to bypass the authentication?
[code]

[2022-04-20 12:47] 89z commented on #58
Hello. With a normal video, you get this key:

[code]

which can just be downloaded and used for decryption:

[code]

but with your video, the key is `com.apple.streamingkeydelivery`:

[code]

aka DRM. So login will not help. If you want, I can try to improve the error message. But I dont know how to implement the DRM, so I wont be able to fix that.

[2022-04-20 15:20] jiangjiangflies commented on #58
Oh, I see. It' DRM. Its seems abc adopted DRM recently.  I could download latest programs with account credentials using yt-dl several days ago. But now it didn't work neither.
But thanks, anyway.

[2022-04-22 17:27] 89z commented on #45
https://gem.cbc.ca/media/downton-abbey/s01e05

[2022-04-23 15:18] 89z opened #59 "[paramountplus] Failed to download m3u8 information - No video formats found"
https://www.paramountplus.com/shows/video/trdn_QshF1DlbsdedG6xdsnd5WwF6032/

`github.com/ytdl-org/youtube-dl/issues/29454`

[2022-04-23 15:19] 89z commented on #59
Fixed:

[code]

[2022-04-23 15:19] #59 closed

[2022-04-23 15:19] 89z commented on #59
https://github.com/ytdl-org/youtube-dl/issues/29454

[2022-04-23 15:20] 89z commented on #59
@jefft666

[2022-04-23 19:21] 89z opened #60 "[CBS] McGyver download issues"
https://www.cbs.com/shows/macgyver/video/VMs_h0rz02Q1dJpWfuc1P93n1B843F9w/macgyver-h2o-orthophosphates-mission-city-corrosion-origins/

`github.com/ytdl-org/youtube-dl/issues/28855`

[2022-04-23 19:22] 89z commented on #60
Fixed:

[code]

[2022-04-23 19:22] #60 closed

[2022-04-23 19:24] 89z commented on #60
https://github.com/ytdl-org/youtube-dl/issues/28855

[2022-04-23 19:24] 89z commented on #60
@lightronics

[2022-04-23 20:36] 89z opened #61 "[CBS] Certain shows no longer downloading - NCIS, NCIS LA, NCIS New Orleans"
https://www.cbs.com/shows/video/wP_KR1psumjev4oICpyLkWzhgm_OPz1S/

`github.com/ytdl-org/youtube-dl/issues/27939`

[2022-04-23 20:36] 89z commented on #61
Fixed:

[code]

[2022-04-23 20:36] #61 closed

[2022-04-23 20:36] 89z commented on #61
https://github.com/ytdl-org/youtube-dl/issues/27939

[2022-04-23 20:37] 89z commented on #61
@mshiels

[2022-04-23 21:25] 89z opened #62 "[Paramount] downloads no longer working"
https://www.paramountplus.com/shows/catdog/video/Oe44g5_NrlgiZE3aQVONleD6vXc8kP0k/catdog-climb-every-catdog-the-canine-mutiny/

`github.com/ytdl-org/youtube-dl/issues/29564`

[2022-04-23 21:26] 89z commented on #62
Fixed:

[code]

[2022-04-23 21:26] #62 closed

[2022-04-23 21:26] 89z commented on #62
https://github.com/ytdl-org/youtube-dl/issues/29564

[2022-04-23 21:27] 89z commented on #62
@Grandfather-Paradox

[2022-04-23 21:51] 89z opened #63 "[Twitter] cannot download videos"
https://twitter.com/ITA6768/status/1402200008896782339

`github.com/ytdl-org/youtube-dl/issues/29239`

[2022-04-23 21:51] 89z commented on #63
Fixed:

[code]

[2022-04-23 21:51] #63 closed

[2022-04-23 21:52] 89z commented on #63
https://github.com/ytdl-org/youtube-dl/issues/29239

[2022-04-23 21:52] 89z commented on #63
@baptx

[2022-04-24 13:33] 89z opened #64 "[TikTok] broken"
https://www.tiktok.com/@surveyorjono/video/7060687520815762689

`github.com/ytdl-org/youtube-dl/issues/30893`

[2022-04-24 13:34] 89z commented on #64
Fixed:

[code]

[2022-04-24 13:34] #64 closed

[2022-04-24 13:35] 89z commented on #64
https://github.com/ytdl-org/youtube-dl/issues/30893

[2022-04-24 13:36] 89z commented on #64
@apogay37

[2022-04-29 07:01] fuzzy76 commented on #48
I have no idea what to do here. I use youtube-dl from homebrew. This repo doesn't seem to be a youtube-dl fork?

[2022-05-02 03:16] 89z commented on #28
https://github.com/ytdl-org/youtube-dl/issues/30910

[2022-05-02 03:17] 89z commented on #28
@TomDiy001

[2022-05-04 22:12] 89z opened #65 "[Cbc] gems not working (used to)"
https://gem.cbc.ca/media/dino-ranch/s01e18

`github.com/ytdl-org/youtube-dl/issues/30043`

[2022-05-04 22:13] 89z commented on #65
Fixed:

[code]

[2022-05-04 22:13] #65 closed

[2022-05-04 22:13] 89z commented on #65
https://github.com/ytdl-org/youtube-dl/issues/30043

[2022-05-04 22:14] 89z commented on #65
@crazytrain411

[2022-05-05 20:25] 89z opened #66 "[youtube] Add an option(--newline) that print progress report as new lines"
https://www.youtube.com/watch?v=mQPZICl_RA4

`github.com/iawia002/lux/issues/1054`

[2022-05-05 20:40] #66 closed

[2022-05-06 03:56] 89z commented on #66
Fixed:

[code]

[2022-05-06 03:57] 89z commented on #66
https://github.com/iawia002/lux/issues/1054

[2022-05-06 03:58] 89z commented on #66
@mhogomchungu

[2022-05-06 22:28] 89z commented on #22
@krandor

[code]

[2022-05-07 18:20] 89z opened #67 "[tiktok] Can't download video"
https://www.tiktok.com/@artemka_ashotik_kristi/video/7037054266569149697

`github.com/yt-dlp/yt-dlp/issues/3551`

[2022-05-07 18:23] 89z commented on #67
Fixed:

[code]

[2022-05-07 18:23] #67 closed

[2022-05-07 18:24] wxolp commented on #67
https://github.com/yt-dlp/yt-dlp/issues/3551

[2022-05-07 18:24] 89z commented on #67
@Neurotoxin001

[2022-05-08 20:21] 89z opened #68 "[bandcamp] Free tracks with multiple formats cannot be downloaded"
https://kslv.bandcamp.com/track/cold
https://kslv.bandcamp.com/track/override
https://kslv.bandcamp.com/track/delirium
https://kslv.bandcamp.com/track/voyage-feat-vincce
https://perturbator.bandcamp.com/track/cult-of-luna-julie-christmas-cygnus-perturbator-remix

`github.com/yt-dlp/yt-dlp/issues/3619`

[2022-05-08 20:22] 89z commented on #68
Fixed:

[code]

[2022-05-08 20:23] wxolp commented on #68
https://github.com/yt-dlp/yt-dlp/issues/3619

[2022-05-08 20:24] 89z commented on #68
@joshqou

[2022-05-08 20:50] 89z opened #69 "[roku] Request to add"
https://therokuchannel.roku.com/watch/597a64a4a25c5bf6af4a8c7053049a6f
https://therokuchannel.roku.com/watch/d9106b15cab25a2c80804d64f6dc33e4

`github.com/yt-dlp/yt-dlp/issues/2326`

[2022-05-08 23:46] joshqou commented on #68
@89z While forcing mp3-128 will work, most tracks on bandcamp aren't effected by the issue I reported. You should use mp3-128 as a fallback format instead, so you can use higher quality formats when available.

[2022-05-08 23:53] 89z commented on #68
None of the files listed offer formats other than `mp3-128`

[2022-05-09 00:02] joshqou commented on #68
Perhaps I'm misreading as I'm not very familiar with Go. "Cult of Luna" should provide flac and a few other formats as available

[2022-05-09 00:06] 89z commented on #68
Yes, you are correct. I will work on this some more.

[2022-05-09 01:46] #68 closed

[2022-05-09 19:40] 89z opened #70 "[TED] Some videos broken"
https://www.ted.com/talks/linus_torvalds_the_mind_behind_linux

`github.com/ytdl-org/youtube-dl/issues/30561`

[2022-05-09 19:41] 89z commented on #70
Fixed:

[code]

[2022-05-09 19:41] #70 closed

[2022-05-09 19:41] 89z commented on #70
https://github.com/ytdl-org/youtube-dl/issues/30561

[2022-05-09 19:42] 89z commented on #70
@Dentrax

[2022-05-11 22:42] 89z commented on #69
Fixed:

[code]

[2022-05-11 22:42] #69 closed

[2022-05-11 22:43] wxolp commented on #69
https://github.com/yt-dlp/yt-dlp/issues/2326

[2022-05-11 22:43] 89z commented on #69
@mstrswrd06

[2022-05-11 23:05] 89z commented on #69
https://github.com/ytdl-org/youtube-dl/issues/23645

[2022-05-17 09:47] dansku opened #71 "How to download twitter spaces?"
I don't see where to build the twitter version of the app?
Did anything change?
Thank you

[2022-05-17 12:32] 89z commented on #71
Good morning,

I implemented a tool for Twitter Status and Twitter Spaces in the past. However I came to realize that I don't actually even like the Twitter site. I had made the implementation just to be helpful to others. Personally, I like to use Twitter logged out, but recently Twitter has gone the way of Instagram, and implemented strict limits on the amount of posts you can view while logged

[2022-05-23 03:21] 89z opened #72 "[Paramount] movies"
https://www.paramountplus.com/movies/video/tQk_Qooh5wUlxQqzj_4LiBO2m4iMrcPD/

`github.com/ytdl-org/youtube-dl/issues/29038`

[2022-05-23 03:28] 89z commented on #72
Fixed:

[code]

[2022-05-23 03:28] #72 closed

[2022-05-23 03:28] 89z commented on #72
https://github.com/ytdl-org/youtube-dl/issues/29038

[2022-05-23 03:36] 89z opened #73 "[CBS] ghosts episode 5 fail"
https://www.cbs.com/shows/video/UKvheucnBSOwnIfXsa3KJ70ydG8_GxUO/

`github.com/ytdl-org/youtube-dl/issues/30197`

[2022-05-23 03:37] 89z commented on #73
Fixed:

[code]

[2022-05-23 03:37] #73 closed

[2022-05-23 03:37] 89z commented on #73
https://github.com/ytdl-org/youtube-dl/issues/30197

[2022-05-23 03:47] 89z opened #74 "[Paramount] quality issues"
https://www.paramountplus.com/shows/video/W1DNS7lqDp0TkZnxAfcM0bsJYhxtuT_x/

`github.com/yt-dlp/yt-dlp/issues/3833`

[2022-05-24 16:16] 89z commented on #74
Fixed:

[code]

[2022-05-24 16:16] #74 closed

[2022-05-24 16:17] wxolp commented on #74
https://github.com/yt-dlp/yt-dlp/issues/3833

[2022-05-24 16:18] 89z commented on #74
@BrendanoElTaco

[2022-05-25 20:59] 89z opened #75 "bbcamerica"
https://www.bbcamerica.com/shows/killing-eve/episodes/season-4-just-dunk-me--1052529

`github.com/ytdl-org/youtube-dl/issues/30182`

[2022-05-25 20:59] 89z commented on #75
@gkoelln we can discuss here if you want

[2022-05-25 21:28] gkoelln commented on #75
Again, if DRM is involved, I don't feel it is right to circumvent that in any way.  If there is no DRM, then please, by all means, feel free to continue.

[2022-05-25 21:32] 89z commented on #75
OK then. I am going to leave this open, as I am going to continue the implementation. You are welcome to ignore this issue and the implementation as well.

[2022-05-26 16:07] gkoelln commented on #75
`https://gw.cds.amcn.com/playback-id/api/v1/playback/1052884
Host: gw.cds.amcn.com
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:100.0) Gecko/20100101 Firefox/100.0
Accept: */*
Accept-Language: en-US,en;q=0.5
Accept-Encoding: gzip, deflate, br
Referer: https://www.bbcamerica.com/
authorization: Bearer eyJraWQiOiJwcm9kLTEiLCJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJlbnRpdGxlbWVudHMiOiJtdnBkL

[2022-05-26 16:10] gkoelln commented on #75
Sorry...can't get the spacing and line breaks quite right.  Hopefully this is what you need:
`https://gw.cds.amcn.com/playback-id/api/v1/playback/1052884
Host: gw.cds.amcn.com
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:100.0) Gecko/20100101 Firefox/100.0
Accept: */*
Accept-Language: en-US,en;q=0.5
Accept-Encoding: gzip, deflate, br
Referer: https://www.bbcamerica.com/
authorization:

[2022-05-26 16:12] gkoelln commented on #75
https://gw.cds.amcn.com/playback-id/api/v1/playback/1052884
Host: gw.cds.amcn.com
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:100.0) Gecko/20100101 Firefox/100.0
Accept: */*
Accept-Language: en-US,en;q=0.5
Accept-Encoding: gzip, deflate, br
Referer: https://www.bbcamerica.com/
authorization: Bearer eyJraWQiOiJwcm9kLTEiLCJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJlbnRpdGxlbWVudHMiOiJtdnBkLW

[2022-05-26 16:15] 89z commented on #75
Thank you, I will do more checking

[2022-05-26 16:50] 89z commented on #75
Hm, I tried it, but I just get "406 Not Acceptable", even if I swap the bearer token for a new one.

I tried asking in the Widevine Discord, but I got banned with no explanation. I will see if I can get back in.

[2022-05-26 16:52] 89z commented on #75
https://github.com/ytdl-org/youtube-dl/issues/30182

[2022-05-26 16:53] gkoelln commented on #75
Actually there was more:
https://gw.cds.amcn.com/playback-id/api/v1/playback/1052884
Host: gw.cds.amcn.com
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:100.0) Gecko/20100101 Firefox/100.0
Accept: */*
Accept-Language: en-US,en;q=0.5
Accept-Encoding: gzip, deflate, br
Referer: https://www.bbcamerica.com/
authorization: Bearer eyJraWQiOiJwcm9kLTEiLCJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJlb

[2022-05-26 16:59] 89z commented on #75
Those are giving me "500 Internal Server Error", even with fresh bearer token. Not sure what the problem is. I don't have TV service on my Spectrum, only internet, so that's probably the issue. I should have been able to replay your request though. Oh well. I will try to think of something else, but otherwise I might only be able to get the unlocked videos, unless someone will have a TV account I

[2022-05-26 19:12] gkoelln commented on #75
Depending on your location you might be able to get a YouTube TV free trial, then try it with cookies, as I am.

[2022-05-26 19:19] 89z commented on #75
From my experience with YouTube TV, if you cancel the trial, you immediately lose access. However I think I found a workaround using another tactic. Stay tuned.

[2022-05-26 22:02] 89z commented on #75
I am going to close this for now. I am able to download and decrypt the unlocked videos. However I cannot download locked videos, even if I login with Spectrum. As I want some of the locked videos, that is a problem. If you're interested, I found a way to get AMC videos, so I think I will work on that next.

[2022-05-27 13:41] gkoelln commented on #75
As of right now, the only video I might be interested in would be:
https://www.bbcamerica.com/shows/doctor-who-legend-of-the-sea-devils/episodes/season-1-legend-of-the-sea-devils--1053337

I recently purchased Audials One, so I might just use that (if I can get it to work).

[2022-05-27 14:20] 89z commented on #75
That is a locked video, so I cannot get it with my BBC America package. However I just realized, that you can get it with my AMC package (that I just made):

[code]

It does require a login, but they do offer a "TRY 7 DAYS FREE". Would that work?

What is that?

[2022-05-27 14:40] gkoelln commented on #75
Audials One (https://audials.com) is a software suite that allows you to screen record streaming videos from all sources, as well as music from Spotify, Amazon Music, streaming radio, etc.  I got it to replace PlayOn (https://playon.tv), which was moving to a subscription-based service.

[2022-05-27 14:52] 89z commented on #75
I don't understand. You're OK with screen recording (which is a copyright violation), but not OK with other methods, such as decrypting Widevine?

[2022-05-27 14:54] gkoelln commented on #75
Screen recording is not a copyright violation.  https://audials.com/en/company-audials-ag/audials-copyright

[2022-05-27 15:09] 89z commented on #75
Sorry, but linking to the software's own site is not a good argument. Of course they are going to say its legal, its in their interest to do so.

[2022-05-27 15:10] gkoelln commented on #75
As I understand it, it falls under the time-shifting use, much like VCRs back in the day.  Same concept as DVR.

[2022-05-27 15:16] 89z commented on #75
Also you mention Spotify, its pretty easy to see that its not allowed:

https://www.spotify.com/us/legal/user-guidelines/

[2022-05-27 15:33] gkoelln commented on #75
Point taken.

[2022-05-27 16:00] 89z commented on #75
At any rate, this is done now. If you want, you can get BBC America with my AMC downloader. Even works with locked videos:

[code]

[2022-05-27 16:00] #75 closed

[2022-06-02 16:09] 89z opened #76 "[AMC] Error Downloading"
https://www.amc.com/shows/fear-the-walking-dead/episodes/season-7-the-beacon--1034034
https://www.amc.com/shows/the-walking-dead/episodes/season-11-acheron-part-i--1027621

`github.com/yt-dlp/yt-dlp/issues/1665`

[2022-06-02 17:05] 89z commented on #76
Fixed:

[code]

and:

[code]

[2022-06-02 17:06] 89z commented on #76
no file extension on this one for some reason:

https://www.amc.com/shows/the-walking-dead/episodes/season-11-acheron-part-i--1027621

[2022-06-02 17:15] #76 closed

[2022-06-02 17:17] wxolp commented on #76
https://github.com/yt-dlp/yt-dlp/issues/1665

[2022-06-02 17:17] 89z commented on #76
@Sipherdrakon

[2022-06-02 17:18] 89z commented on #76
@jsmith1299

[2022-06-02 19:06] 89z commented on #58
I think this is possible now

[2022-06-02 19:06] 89z commented on #58
https://github.com/89z/mech/issues/41

[2022-06-02 19:06] 89z commented on #41
https://github.com/89z/mech/issues/58

[2022-06-02 22:52] #58 closed

[2022-06-03 12:06] 89z commented on #41
Info works, but actually downloading does not:

[code]

The HLS URL always works, either with StreamPack or FairPlay. The DASH URL only works for unlocked items.

[2022-06-03 23:04] BrendanoElTaco commented on #74
What exactly am I supposed to do with this repo? I'm on windows btw

[2022-06-03 23:09] 89z commented on #74
If youre interested, you can use the Paramount tool to download from Paramount, as I showed above.

My tools work with Windows, macOS and Linux. You can build yourself, or I have a build here:

https://github.com/89z/mech/releases/tag/v1.53.5

[2022-06-04 00:19] BrendanoElTaco commented on #74
When I try to run: paramount -b W1DNS7lqDp0TkZnxAfcM0bsJYhxtuT_x -d I get

panic: open C:\Users\Brendan\mech\private_key.pem: The system cannot find the path specified.

goroutine 1 [running]:
main.main()
        github.com/89z/mech/cmd/paramount/main.go:66 +0x585

[2022-06-04 00:26] 89z commented on #74
That file contains the RSA private key needed for decrypting. I cant host it here for legal reasons, but you should be able to download it from here:

<https://github.com/Jnzzi/4464_L3-CDM>

or you can dump your own:

https://github.com/89z/mech/tree/v1.53.9/widevine#how-to-dump-l3-cdm

Note that if you choose to download the files from the link above, you need to either rename the files to match

[2022-06-04 00:37] BrendanoElTaco commented on #74
I believe I got it working. Thank you so much for the help and the amazing program!

[2022-06-04 00:38] 89z commented on #74
please star this repo, if its helpful

[2022-06-04 00:39] BrendanoElTaco commented on #74
Done!

[2022-06-04 20:26] 89z opened #77 "[AMC] broken - cannot download anything"
https://www.amc.com/shows/61st-street/episodes/season-1-man-on-fire--1053948

`github.com/ytdl-org/youtube-dl/issues/31004`

[2022-06-04 20:27] 89z commented on #77
Fixed:

[code]

[2022-06-04 20:27] #77 closed

[2022-06-04 20:27] 89z commented on #77
https://github.com/ytdl-org/youtube-dl/issues/31004

[2022-06-04 20:28] 89z commented on #77
@xxtensazenxx

[2022-06-07 01:06] jiangjiangflies commented on #58
ABC old programs (maybe 7-10 days old) are unlocked. You can try new releases, which are locked with DRM. E.g. https://abc.com/shows/world-news-tonight/episode-guide/2022-06/05-sunday-june-5-2022

[2022-06-07 01:24] 89z commented on #58
Sorry I don't think I can help with ABC anymore. It seems for locked videos, they use FairPlay instead of Widevine. Plus I don't have a TV account that I can use. Good luck to you.

[2022-06-09 18:42] 89z opened #78 "[BBC America] Unable to download JSON"
https://www.bbcamerica.com/shows/almost-royal/episodes/season-2-beauty--1010702

`github.com/yt-dlp/yt-dlp/issues/3984`

[2022-06-09 18:43] 89z commented on #78
Fixed:

[code]

[2022-06-09 18:43] wxolp commented on #78
https://github.com/yt-dlp/yt-dlp/issues/3984

[2022-06-09 18:44] 89z commented on #78
@teo4all

[2022-06-10 07:47] teo4all commented on #78
What am I doing wrong?

`amc -b 1010702
panic: open C:\Users\Teo\mech\amc.json: The system cannot find the file specified.

goroutine 1 [running]:
main.main()
        R:/Captures/PlayOn/mech-master/cmd/amc/main.go:59 +0x5f0`

[2022-06-10 13:18] 89z opened #79 "How to get decryption key?"
[code]

`github.com/ytdl-org/youtube-dl/issues/30873`

[2022-06-10 13:18] 89z commented on #79
https://github.com/ytdl-org/youtube-dl/issues/30873

[2022-06-10 13:18] 89z commented on #79
@gucio321 we can talk here if you want

[2022-06-10 15:03] teo4all commented on #78
I am loging in the amc site with tv provider (DirecTV) credentials, and when I try them i get this
[code]

[2022-06-10 15:09] 89z commented on #78
My tool works with AMC+ account. If you are willing to share credentials, I can try to add support for DirecTV login.

[2022-06-10 17:19] 89z commented on #78
https://github.com/89z/format/issues/5

[2022-06-11 00:55] 89z commented on #78
This should be fixed now. If you still have trouble let me know

https://github.com/89z/mech/blob/348ab712e12ae2f1807e2e75cbe142a172016238/cmd/amc/amc.go#L125-L127

[2022-06-11 00:55] #78 closed

[2022-06-11 13:21] gucio321 commented on #79
well, so, how do you get this hash code? I'm not familiar with web APIs

[2022-06-11 14:14] 89z commented on #79
I added a new command:

https://github.com/89z/mech/tree/master/cmd/widevine

example:

[code]

output:

[code]

[2022-06-11 17:05] gucio321 commented on #79
Oh i see that you have great stuff. Cute could you explain me what these parameters are and how to get them

[2022-06-11 17:17] 89z commented on #79
I added some brief information here:

https://github.com/89z/mech/tree/master/cmd/widevine

[2022-06-12 11:26] gucio321 commented on #79
well, I got all necessary numbers but now i don't know how to use widevine.go...
I'm executing
[code]
and the app panics with
[code]
I'm pretty sure that I'm missing -c option however idk what should it be

[2022-06-12 13:09] 89z commented on #79
I added some more information:

https://github.com/89z/mech/tree/master/cmd/widevine#how-to-get-client-id-and-private-key-files

[2022-06-12 15:40] gucio321 commented on #79
cool, thank you!
One more question, what to do with this number I got from widevine?

[2022-06-12 15:53] 89z commented on #79
If you get a result like this:

[code]

then you can download like this:

[code]

[2022-06-12 15:59] iamDonkey commented on #79
this method is same for all websites that has drm protected content?

[2022-06-12 16:02] 89z commented on #79
Some websites like Apple TV+, wrap the license request body in JSON, so my Widevine tool would not work. However I am trying to make a custom tool for Apple TV+. If you find some site that is not working, let me know

[2022-06-12 17:35] gucio321 commented on #79
[code]
ffmpeg refuses to find cenc_decryption_key option...

[2022-06-12 17:49] 89z commented on #79
This option is only available with FFmpeg builds since 2022-05-16

[2022-06-12 18:58] 89z commented on #79
I could make a tool to download and decrypt MPD, but I am busy with other tasks. If you wish to make a donation, I can work on it right away. Otherwise good luck

[2022-06-12 18:58] #79 closed

[2022-06-16 20:43] 89z opened #80 "[plex.tv] Site request"
https://watch.plex.tv/movie/borderline

`github.com/yt-dlp/yt-dlp/issues/4062`

[2022-06-16 20:44] 89z commented on #80
You can download the video like this:

[code]

[2022-06-16 20:44] #80 closed

[2022-06-16 20:44] wxolp commented on #80
https://github.com/yt-dlp/yt-dlp/issues/4062

[2022-06-16 20:45] 89z commented on #80
@johny1

[2022-06-17 19:58] 89z commented on #80
@mikewesten

[2022-06-18 02:29] 89z opened #81 "[Viki] I can't download"
https://www.viki.com/videos/1122160v-melo-holic-episode-1

`https://github.com/yt-dlp/yt-dlp/issues/3863`

[2022-06-18 02:34] 89z commented on #81
First:

[code]

then:

[code]

[2022-06-18 02:34] #81 closed

[2022-06-18 02:34] wxolp commented on #81
https://github.com/yt-dlp/yt-dlp/issues/3863

[2022-06-18 02:35] 89z commented on #81
@bladeosen

[2022-06-18 16:28] 89z opened #82 "[NBC] Error 404 Not Found"
https://www.nbc.com/americas-got-talent/video/auditions-3/9000246183

`https://github.com/yt-dlp/yt-dlp/issues/4038`

[2022-06-18 16:31] 89z commented on #82
Fixed:

[code]

[2022-06-18 16:31] #82 closed

[2022-06-18 16:32] wxolp commented on #82
https://github.com/yt-dlp/yt-dlp/issues/4038

[2022-06-18 16:32] 89z commented on #82
@jriker1

[2022-06-18 17:29] 89z opened #83 "[ NBC] Unable to extract post url"
https://www.nbc.com/pasion-de-gavilanes/video/la-valentia-de-norma/9000221348

`https://github.com/yt-dlp/yt-dlp/issues/3900`

[2022-06-19 01:26] 89z commented on #83
Fixed:

[code]

[2022-06-19 01:26] #83 closed

[2022-06-19 01:27] wxolp commented on #83
https://github.com/yt-dlp/yt-dlp/issues/3900

[2022-06-19 01:27] 89z commented on #83
@TenSai27

[2022-06-19 01:30] 89z commented on #83
@teo4all

[code]

[2022-06-20 02:44] 89z commented on #45
asdf

[2022-06-20 14:37] 89z opened #84 "client.name ANDROID_MUSIC"
clientName=ANDROID_MUSIC How is the clientVersion obtained in this case?

`https://github.com/yt-dlp/yt-dlp/issues/3943`

[2022-06-20 14:37] wxolp commented on #84
https://github.com/yt-dlp/yt-dlp/issues/3943

[2022-06-20 14:38] 89z commented on #84
@Jiang00 we can discuss here if you want

[2022-06-20 14:39] 89z commented on #84
The proper version actually comes from this app:

https://play.google.com/store/apps/details?id=com.google.android.apps.youtube.music

the website doesnt detail the current version, but you can pull it from the Google Play API:

[code]

Result:

[code]

[2022-06-20 14:39] #84 closed

[2022-06-21 22:49] 89z opened #85 "[ParamountPlus] SAMPLE-AES encryption is not supported yet"
https://www.paramountplus.com/movies/sonic-the-hedgehog/5EKDXPOzdVf9voUqW6oRuocyAEeJGbEc

`https://github.com/yt-dlp/yt-dlp/issues/1658`

[2022-06-21 22:50] 89z commented on #85
Fixed:

[code]

[2022-06-21 22:52] wxolp commented on #85
https://github.com/yt-dlp/yt-dlp/issues/1658

[2022-06-21 22:52] 89z commented on #85
@tacohitbox

[2022-06-23 18:42] 89z commented on #81
https://github.com/ytdl-org/youtube-dl/issues/31049

[2022-06-23 18:49] hv33y commented on #81
tysm @89z it worked. i guess due to drm, we are restricted to 480P only. tysm for the help buddy.

[2022-06-23 18:52] 89z commented on #81
The website says this:

[2022-06-23 18:56] hv33y commented on #81
i have a strange question, but could you explain me how to grabbed the [-b value](https://github.com/89z/mech/issues/81#issuecomment-1159344672) and moreover the cenc_decryption_key

[2022-06-23 18:56] hv33y commented on #81
got it master

[2022-06-23 18:57] 89z commented on #81
https://github.com/89z/mech/tree/master/cmd/widevine#how-to-get-key-id

[2022-06-23 18:58] hv33y commented on #81
thanks a lot master.

[2022-06-25 11:46] hv33y commented on #81
@89z https://www.primevideo.com/region/eu/dp/amzn1.dv.gti.5eba48c0-0b83-f528-d9af-d3c01d60000e?ref_=av_auth_return_redir&autoplay=0

[2022-06-25 11:48] hv33y commented on #81
@89z
`https://www.primevideo.com/dp/amzn1.dv.gti.5eba48c0-0b83-f528-d9af-d3c01d60000e?autoplay=0&ref_=atv_cf_strg_wb`
`https://www.primevideo.com/region/eu/dp/amzn1.dv.gti.5eba48c0-0b83-f528-d9af-d3c01d60000e?ref_=av_auth_return_redir&autoplay=0`

[code]
[code]
but when i open this mpd file in browser

[code]

[2022-06-25 11:51] hv33y opened #86 "@89z"
@89z
`https://www.primevideo.com/dp/amzn1.dv.gti.5eba48c0-0b83-f528-d9af-d3c01d60000e?autoplay=0&ref_=atv_cf_strg_wb`
`https://www.primevideo.com/region/eu/dp/amzn1.dv.gti.5eba48c0-0b83-f528-d9af-d3c01d60000e?ref_=av_auth_return_redir&autoplay=0`

[code]
[code]
but when i open this mpd url in browser

<details>

This XML file does not appear to have any style information associated with it. The do

[2022-06-25 12:24] 89z commented on #86
please provide public URL

[2022-06-25 17:48] hv33y commented on #86
https://www.amazon.com/Billionaire-Boys-Club-Ansel-Elgort/dp/B07F3N45VV/

[2022-06-25 17:49] hv33y commented on #86
https://www.hulu.com/watch/a65f0fa4-3685-44c9-adaa-53cad93deb2b
https://www.hulu.com/watch/a65f0fa4-3685-44c9-adaa-53cad93deb2b
https://watch.sling.com/1/program/78570b29fbd24a959af30e51527076d7/watch?trackingid=google-feed

[2022-06-25 17:57] 89z commented on #86
I am going to close this for now. First, I prefer to have different sites in separate issues. However also, I charge a fee to support new sites. If you are interested to do that, let me know. Otherwise good luck.

[2022-06-25 17:57] #86 closed

[2022-06-30 09:41] yakuv0 opened #87 "Bandcamp and soundcloud build no output file (OS X)"
Hello

tried to build soundcloud and bandcamp with go and got no output file on a mac Mojave, go v1.18.3
Builds succeeds in cmds folder

edit:
error after building with `go build -o bandcamp` Then giving it execute permission, received on execution

[code]
Edit:
Same build issue on windows 7

cheers

[2022-06-30 12:00] #87 closed

[2022-06-30 15:32] yakuv0 commented on #87
Hello,
already proceeded with the suggestion and posted the errors, the `go build` Works for the services in cmd folder but not bandcamp or soundcloud.

Cheers

[2022-06-30 15:48] 89z commented on #87
I think you did not read the link:

[2022-06-30 16:21] yakuv0 commented on #87
Thanks for replying but the link just takes to the main repo, and there’s no info there on build and installation other than navigating to the directory and running `go build`, and same issue happens on windows and mac OS X.
Really appreciate it

[2022-07-13 15:42] 89z commented on #71
I am asking everyone to please stop commenting on this issue. I am no longer providing free support for this repo, so unless someone is interested in paid support, I cannot help further.

[2022-08-05 00:49] 89z commented on #45
"https://embed.vhx.tv/subscriptions/28599?vimeo=1",
   "https://embed.vhx.tv/videos/1264265?vimeo=1",

[2022-09-24 05:46] ajt1923 commented on #56
Can you explain where to put this code?

PS D:\Desktop> tiktok -b 7071004694751071494
GET http://api2.musical.ly/aweme/v1/aweme/detail/?aweme_id=7071004694751071494
GET https://v16m-default.akamaized.net/58e716bc5b829b904de93cffea6d3068/625f49df/video/tos/useast2a/tos-useast2a-ve-0068c001/34538042a77e4ecc8fe562874864787a/?a=0&br=4102&bt=2051&cd=0%7C0%7C0%7C0&ch=0&cr=0&cs=0&cv=1&dr=0&ds=6&er=&ft=rk

[2022-09-24 12:26] 89z commented on #56
https://github.com/89z/mech#money

[2022-09-25 20:46] dano-code commented on #78
@teo4all - How did you get it working with a TV Provider? I have a login linked to my TV provider, but getting unauthorized when trying to sign in.

[2022-10-03 22:51] 89z opened #88 "[Paramount+] No video formats found" error"
https://www.paramountplus.com/shows/video/723621733/
https://www.paramountplus.com/shows/video/723703091/

`https://github.com/yt-dlp/yt-dlp/issues/5119`

[2022-10-03 22:53] 89z commented on #88
fixed:

[code]

and:

[code]

[2022-10-03 22:53] #88 closed

[2022-10-03 22:53] wxolp commented on #88
https://github.com/yt-dlp/yt-dlp/issues/5119

[2022-10-03 22:54] 89z commented on #88
@heliosyne

[2022-10-03 22:57] 89z opened #89 "[Paramount+] Global"
https://www.paramountplus.com/shows/video/K_8IrDKmGoTe4Mnqfti0JQuvzb8MLRCM/

`https://github.com/yt-dlp/yt-dlp/issues/5033`

[2022-10-03 22:58] 89z commented on #89
fixed:

[code]

[2022-10-03 23:13] #89 closed

[2022-10-03 23:13] wxolp commented on #89
https://github.com/yt-dlp/yt-dlp/issues/5033

[2022-10-03 23:14] 89z commented on #89
@LouBlu08

[2022-10-04 22:56] 89z commented on #45
https://www.paramountplus.com/shows/adventures-of-paddington-bear/video/ccZ8hCalSmCTbjuH1XBvOBlXjILZG4UB/

[2022-10-11 07:12] jiangjiangflies commented on #58
来信已收到！祝好！

[2022-10-16 17:43] 89z opened #90 "[NBC] shows requiring authentication fail with HTTP 401"
https://www.nbc.com/the-real-housewives-of-beverly-hills/video/we-need-to-talk-about-kathy/9000249196
https://www.nbc.com/saturday-night-live/video/october-1-miles-teller/9000258299
https://www.nbc.com/below-deck-down-under/video/somethings-fishy/9000265442
https://www.nbc.com/dateline-unforgettable/video/under-the-desert-sky/9000256501

`https://github.com/yt-dlp/yt-dlp/issues/5123`

[2022-10-16 17:46] 89z commented on #90
fixed:

[code]

and:

[code]

and:

[code]

and:

[code]

[2022-10-16 17:46] #90 closed

[2022-10-16 17:46] wxolp commented on #90
https://github.com/yt-dlp/yt-dlp/issues/5123

[2022-10-16 17:47] 89z commented on #90
@pdisciascio

[2022-10-26 22:07] 89z opened #91 "[youtube] Loading speed is slow"
https://www.youtube.com/watch?v=rFejpH_tAHM

`https://github.com/kkdai/youtube/issues/262`

[2022-10-26 22:08] 89z commented on #91
fixed:

[code]

[2022-10-26 22:08] #91 closed

[2022-10-26 22:08] 89z commented on #91
https://github.com/kkdai/youtube/issues/262

[2022-10-26 22:09] 89z commented on #91
@vl-ms

[2022-10-27 09:12] 89z commented on #91
@alberfd

[2022-11-12 23:46] 89z commented on #45
https://play.google.com/store/apps/details?id=com.android.vending

[2022-11-15 00:31] 89z commented on #45
https://play.google.com/store/apps/details?id=com.clearchannel.iheartradio.controller

[2022-11-19 03:44] 89z commented on #45
https://play.google.com/store/apps/details?id=com.google.android.youtube

[2022-11-20 03:51] 89z commented on #45
https://play.google.com/store/apps/details?id=com.marmalade.monopoly

[2022-11-20 20:38] 89z opened #92 "CBS.com issue"
https://www.cbs.com/shows/v/video/AtFNGqcwPf2yU_EbVOh10dcMtefoGNln/

`https://github.com/ytdl-org/youtube-dl/issues/31361`

[2022-11-20 20:38] 89z commented on #92
Fixed:

[code]

[2022-11-20 20:38] #92 closed

[2022-11-20 20:38] 89z commented on #92
https://github.com/ytdl-org/youtube-dl/issues/31361

[2022-11-20 20:39] 89z commented on #92
@TPIRFan